*{
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box;
}
.shop{
    background-color: var(--white-color);
}
.shop .content{
  padding: 2rem 5rem .8rem;
}
.identifier{
    display: flex;
    justify-content: center;
}
.identifier .phone{
    display: flex;
    align-items: center;
    width: fit-content;
    border-radius: 40px;
    border: 1px solid var(--purple-color);
    color: var(--purple-color);
    padding: 3px 10px 3px 3px;
}
.identifier .icon{
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple-color);
    color: white;
    border-radius: 50%;
}
.identifier svg{
    padding: 3px 7px;
    width: 35px;
    height: 32px;
}
.identifier p{
    padding: 0px 8px;
    font-size: 15px;
    color: var(--black-color);
    font-weight: 600;
}
.heading {
    margin: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading h2{
    font-weight: 700;
    font-size: var(--larg-size);
    margin-bottom: 1rem;
    color: var(--black-color);
}
.heading p{
    font-size: var(--medium-size);
    color: var(--black-color);
    width: 60%;
}
/* ==== products ==== */
.products {
  padding: 0 0 1rem;
}

.products .product{
  margin-bottom: .9rem; 
  padding: 0 .5rem;
}
.products .item .content {
  padding: 1rem;
  box-shadow: var(--gray-shadow);
  border-radius: 10px;
  background-color: var(--main-background);
}
.products .item .content .img-con{
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 7px;
  background-color: var(--background-img-color);
}
.products .item .content .img-con img{
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}
.products .item .content .data .category-con{
  position: relative;
  display: flex;
  justify-content: center;
}
.products .item .content .data .category-con .category{
  font-weight: 600;
  color: #b89961;
  font-size:clamp(12px,2vw,14px);
  width: fit-content;
  padding: 0 10px;
  background-color: var(--main-background);
  z-index: 10;
}
.products .item .content .data .category-con span{
  position: absolute;
  width: 100%;
  height: .5px;
  background-color: #b89961;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.products .item .content .data .name{
  text-align: center;
  font-size: clamp(14.5px,2vw,16.5px);
  font-weight: 700;
  padding: 5px 0 12px;
  color: var(--black-color);
}
.products .item .content .data .con{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products .item .content .data .con .line{
  width: 1px;
  height: 18px;
  background-color: #b89961;
  margin-left: 10px;
}
.products .item .content .data .con .weight,
.products .item .content .data .con .quality{
  font-size:clamp(12px,2vw,14px);
  color: var(--black-color);
}
.products .item .content .data .con p span{
  font-weight: 700;
}
.products .item .content .icons-con{
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  margin-top: 10px;
}
.products .item .content .icons-con .icon{
  width: 64px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.products .item .content .icons-con .icon svg{
  width: 20px;
  height: 20px;
}
.products .item .content .icons-con .icon.phone{
  background-color: var(--purple-color);
  color: white;
}
.products .item .content .icons-con .icon.heart{
  background-color: var(--white-color);
  color: var(--purple-color);
  border: var(--purple-border);
}
.products .item .content .icons-con .icon.heart svg{
  padding-top: 1px;
}

/* === products-2collection === */
.products-2collection{
  padding: 1.7rem 0;
}
.products-2collection .content{
  display: flex;
  justify-content: space-between;
  gap: 7px;
  padding: .5rem !important;
  box-shadow: var(--gray-shadow);
  margin-bottom: 10px;
  border-radius: 10px;
}
.products-2collection .content .part:nth-of-type(1){
  display: flex;
  align-items: center;
  gap: 10px;
}
.products-2collection .content .part .img-con{
    height: 90px;
    width: 135px;
    border-radius: 10px;
    overflow: hidden;
}
.products-2collection .content .part .img-con img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-2collection .content .part .category{
  font-weight: 500;
  font-size: 12px;
  color: #b89961;
}
.products-2collection .content .part .name{
  font-size: 13px;
  font-weight: 700;
  padding: 3px 0 ;
  color: var(--black-color);
}
.products-2collection .content .part .weight,
.products-2collection .content .part .quality{
  font-size: 12px;
  color: var(--black-color);
}
.products-2collection .content .part .weight{
  margin-bottom: 3px;
}
.products-2collection .content .part p span{
  font-weight: 700;
}
.products-2collection .content .part:nth-of-type(2){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.products-2collection .content .part .icon{
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.products-2collection .content .part .icon.phone{
  background-color: var(--purple-color);
  color: white;
}
.products-2collection .content .part .icon.heart{
  background-color: var(--white-color);
  color: var(--purple-color);
  border: var(--purple-border);
}
.products-2collection .content .part .icon.heart svg{
  padding-top: 1.5px;
}
.products-2collection .content .part .icon svg{
    width: 20px;
  height: 20px;
}
/* ===== filter ===== */

.filter {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.filter .select-con{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 85%;
}
.filter nz-select{
  width: calc((100% - 1rem) / 2);
  border-radius: 40px;
  padding: 6px;
  border: none;
  box-shadow: var(--gray-shadow);
}
.filter button{
  background-color: var(--purple-color);
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px;
  width: 10rem;
  cursor: pointer;
  font-size: var(--medium-size);
}
/* ==== */
.filter-sm{
  width: 100%;
  padding: 5px .4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
  box-shadow: var(--gray-shadow);
  border-radius: 40px;
}
.filter-sm.active{
  background-color: var(--purple-color);
}
.filter-sm .search{
  padding: 10px 3rem;
  background-color: var(--purple-color);
  color: white;
  cursor: pointer;
  border-radius: 40px;
}
.filter-sm.active .search{
  background-color: var(--white-color);
  color: var(--purple-color);
}

.filter-sm .icon{
  width: 60px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-color);
  color: white;
  border-radius: 40px;
  cursor: pointer;
}
.filter-sm .icon svg{
  transition: .3s ease;
}
.filter-sm.active .icon{
  background-color: var(--white-color);
  color: var(--purple-color);
}
.filter-sm.active .arrow svg{
  transform: rotate(180deg);
}
.filter-sm-screen{
  display: none;
}
.filter-body  {
  margin-top: 1rem;
  height: 0;
  overflow: hidden;
  transition: .3s ease;
}
.filter-body.active{
  height: 180px;  
}
.filter-body .filter{
  flex-direction: column;
  gap: .8rem;
  padding: 1px 1px 1rem;
}
.filter-body .filter .select-con{
  width: 100%;
  flex-direction: column;
  gap: .8rem;
}
.filter-body .filter nz-select{
  width: 100%;
}
.filter-body .filter button{
  width: 100%;
}
/* ==== pagination ==== */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  margin-bottom: 1rem;
}
.pagination ul{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0;
}
.pagination ul li{
  padding: 6px 0;
  width: 45px;
  border-radius: 5px;
  border: 1px solid var(--purple-color);
  color: var(--purple-color);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-img-color);
}
.pagination ul li.active{
  background-color: var(--purple-color);
  color: white;
}
.pagination .next{
  border: 1px solid var(--purple-color);
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 3px 6px 3px 2px;
  transition: .3s ease;
  color: var(--purple-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
background-color: var(--background-img-color);
}
.pagination .next svg{
  width: 20px;
  height: 20px;
}
.pagination .prev{
  border: 1px solid var(--purple-color);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding: 3px 2px 3px 6px;
  color: var(--purple-color);
  transition: .3s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-img-color);
}
.pagination .prev svg{
  width: 20px;
  height: 20px;
}
.pagination .next:hover,
.pagination .prev:hover{
  background-color: var(--purple-color);
  color: white;
}

/* ====== media ===== */
@media (max-width:745px) {
    .shop .content{
      padding: 2rem 2rem .8rem;
    }
}
@media (max-width:640px) {
    .shop .content {
        padding: 2rem .8rem .8rem;
    }
}

@media (max-width:767px){
.heading p{
  width: 100%;
}
.row > *{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.products .product:nth-child(odd) {
  padding: 0px 0px 10px 5px  !important;
} 
.products .product:nth-child(even) {
  padding: 0px 5px 10px 0px  !important;
}
.products .item .content{
  padding: 0.5rem;
}

.products .product{
  margin: 0;
}

/* ==== filter ==== */
.filter-lg-screen {
  display: none;
}
.filter-sm-screen{
  display: block;
}
}
