/* You can add global styles to this file, and also import other style files */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo", sans-serif;
  list-style: none;
}
:root{
    --purple-color:#754ef9; 
    --white-color:white;
    --black-color:#333;
    --purple-shadow: 0 0 1px 1px #764ef9b2;
    --gray-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
    --purple-border: .5px solid #754ef9;
    --medium-size: clamp(13px,2vw,16px);
    --medium-size-14: clamp(14px,2vw,16px);
    --larg-size: clamp(24px,4vw,28px);
    --small-heading:clamp(21px,4vw,25px) ;
    --main-background: #f5f5f5;
    /* --background-img-color:#e7e7e7; */
    --background-img-color:white;
}
.dark{
    --white-color:#333;
    --black-color:white;
    --purple-backgroung: #333;
    --gray-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.1);
    --main-background: #393939;
    --background-img-color:#2f2f2f;
}

/* == pagination == */
/* الحجم الافتراضي لكل النقاط */
.swiper-pagination-bullet {
  height: 6px;
  width: 6px;
  transition: all 0.3s; 
  background-color: #00000057; 
}
/* النقطة النشطة */
.swiper-pagination-bullet-active {
  width: 9px;     
  height: 9px;
  background-color: white; 
}

/* ====== chart ======= */
.tv-widget-chart__container-wrappper {
  background-color: var(--purple-color) !important;
}
/* ===== filter ====== */
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border: none !important;
  background-color: var(--white-color);
  transition: .2 ease;
  color: var(--black-color);
}
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
  box-shadow: none !important;
}
.ant-select-arrow .anticon > svg{
  color: var(--purple-color);
}
